#habilidades{
    margin-bottom: 10rem;
}

#habilidades h3{
    animation: text-shadow 2s infinite;
    margin-bottom: 4rem;
}

.contain-hability{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

#svg-hability{
    width: 25rem;
    height: 25rem;
}


.contain-hability-caracter{
    width: 30rem;
    margin-bottom: 1rem;
}





@keyframes text-shadow{
    0% {text-shadow: none;} 
   50% {text-shadow: 0 0 0.2em rgb(107, 191, 240)0 0 0.2em rgb(107, 191, 240)}
   100% {text-shadow:0 0 0.2em rgb(107, 191, 240),0 0 0.2em rgb(107, 191, 240),0 0 0.2em rgb(107, 191, 240)}
   
}


@media all and (max-width:756px){
    .contain-hability{
        display: grid;
        justify-content:center;
        align-items: center;
        
    }

    .contain-hability-caracter{
        width: 15rem;
        margin-bottom: 1rem;
    }


    #svg-hability{
        width: 15rem;
        height: 10rem;
    }


}


@media all and (min-width:756px) and (max-width:991px){
    .contain-hability{
        display: grid;
        justify-content:center;
        align-items: center;
        
    }

    .contain-hability-caracter{
        width: 25rem;
        margin-bottom: 1rem;
    }


    #svg-hability{
        width: 25rem;
        height: 15rem;
        
    }
}